/* all colors in scss can be used here to keep it fluid and have less repetitive code */

h1 {
    font-family: 'Times New Roman', Times, serif;
}

.home {
    text-align: center;
    position: fixed;
    padding: 15% 40%;
}

h2 {
    padding: 50px;
}